.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 0 auto;
  list-style-type: none;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10em;
  padding: 1em 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid lightslategray;
  border-radius: 0.5rem;
  color: #D6DBF5;
  background-color: #D1468D;
}
