.trivia-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin: 0 auto;
}

.trivia-card-question {
  width: 95%;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.trivia-card-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10em;
  gap: 1em;
  list-style: none;
}

.trivia-card-button {
  width: 19em;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 1em 1.5em;
  border: 1px solid #fff;
  border-radius: 0.5em;
  background-color: #fff;
}

.trivia-card-button:hover {
  background-color: #d6dbf5;
  cursor: pointer;
}

.trivia-card-next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  background-color: #fff;
  width: 10em;
  margin-top: 1em;
  border: 1px solid #0620a4;
  cursor: pointer;
}

.trivia-card-button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #020229;
  background-color: #1b073f;
  background-color: #631db0;
}

.trivia-card-button-disabled {
  border: 1px solid #000;
  background: #c3c3d8;
  cursor: default;
}

.trivia-card-button-disabled:hover {
  border: 1px solid darkgrey;
  background: #c3c3d8;
  cursor: default;
}

.trivia-card-button.trivia-card-button-correct {
  color: #fff;
  background: #27bd26;
}

.trivia-card-button.trivia-card-button-incorrect {
  color: #fff;
  background: #c02626;
}

.trivia-card-button.trivia-card-button-selected {
  color: #fff;
  background: yellowgreen;
}

.fa-icon-arrow {
  margin-left: 0.5em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
  .trivia-card-question {
    width: 85%;
  }
}

@media screen and (min-width: 1200px) {
  .trivia-card-question {
    width: 100%;
  }
}
